# USER FOR VPN AND HK
UID = user.name

# PASSWORD FOR VPN (FORTI CLIENT)
VPN_PWD = 123456

# PASSWORD HK (SAR2G)
HK_PWD = 123456

# URL FOR API
API_URL = https://url.example.com.br

# SHORTCUTS
VPN_SHORTCUT = C:\Program Files\Fortinet\FortiClient\FortiClient.exe
HK_SHORTCUT = C:\Program Files (x86)\HK\SAR2G\SarClient\SarClient.exe

# PYAUTOGUI CONFIG
FAIL_SAFE = True | False
TIME = 1 # Time for sleep into commands

# PONTOS HK
FALT_POS = (x, y)
APOINTMENT_POS = (x, y)
EXIT_POS = (x, y)
MOV_OPERATIONAL_POS = (x, y)  